<%- include('../_partial/_header') %>

    <h1>Welcome to about Page</h1>

    <h1 class="h1">About</h1>
    
    <div class="jumbotron">
        <div class="container">
            <img class="pic" src="image5.png" alt="Multiple dogs playing with owner"
                aria-label="Multiple dogs playing with owner">
            <h1>About Us.</h1>
            <p>
                As a group of passionate dog lovers, we understand the importance of well-trained
                dogs in enhancing the relationship between pet owners and their furry companions. Our goal is to make dog
                training more
                accessible and efficient, which is why we've created an app to assist dog owners in their training journey.
                We believe
                that our app can make a positive impact on your life and help you develop a stronger bond with your dog.
            </p>
    
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Column 1 content -->
                <img class="avatar-pic" src="a1.png" alt="Reviewer Avatar Picture">
                "The perfect tool for managing my dog's day-to-day needs. It's made a huge difference in organizing our
                lives. A
                must-have app!"
            </div>
            <div class="col-md-6">
                <!-- Column 2 content -->
                <img class="avatar-pic" src="a2.png" alt="Reviewer Avatar Picture">
                "Absolutely love this app! It's been a game-changer in coordinating my pet's schedule. Plus, the training
                feature is
                brilliant. Highly recommend!"
            </div>
    
        </div>
    </div>

<%- include('../_partial/_footer') %>